<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="milestone" content="Portfolio" />
        <!-- TODO: Replace this with your title -->
        <title>Web Designer Chris Scholl</title>
        <!-- 
                TODO: Add Bootstrap CSS link tag from: 
          https://getbootstrap.com/
            -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous"
        />
        <!-- 
                TODO: Add Bootstrap Icons link tag from: 
                https://icons.getbootstrap.com/
                (Remember, the CDN link is towards the bottom of the page!)
            -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
        />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <!-- Custom styles (these can extend the default Bootstrap styles) -->
        <link href="static/css/style.css" rel="stylesheet" type="text/css" />
      </head>
<body>
    <nav class="navbar bg-dark navbar-expand-lg border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Chris Scholl</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <!-- Mission/Meet-me section -->
    
    <section class="container-fluid container-lg mt-4" id="mission-section-target">
      <h2 class="text-center">
        <i class="bi bi-rocket-takeoff h1">My Goals and Aspirations</i></h2>
        <br>
      <div class="row">
        <div class="col-md-6">
          <img class="missimg" src="static/img/code.png" alt="fitness image" />
            </div>
            <div class="col-md-6 mb-4">
              <p id="caplet" class="text-center">
                  I have learned HTML 5, CSS 3, Bootstrap, JavaScript at my time at Global Career Accelerator. I am certified in Python from the Python Institute which is 
                  the language I use for the backend of websites. I currently have this site live as you see and I have done 4 web applications in school. I love doing web development. 
                  I am currently looking for anything I can do part time remotely or full time onsite or remotely. I am a fast learner and good listener. If you look through 
                  this website that I have done from the ground up, look at some features that I can currently do and I am always wanting to learn more. I can't wait to 
                  become an asset for a company willing to take a risk on me!!!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
    <section class="container">
      <h2 class="text-center"><i class="bi bi-journal-text h1"> A Little About Me...</i></h2>
        <p>
          I was born in San Bernandino, CA in 1981. I lived in Joshua Tree, Upland, and Ontario in CA until I moved to Anderson, IN on Christmas day when I was almost 10.
          I graduated from high school in 1999 from Highland High School which is now closed. I met my wife 6 months out of high school and started dating her 6 months later.
          I then moved to Greenfield, IN in 2000 and I still call it home now. I have a son who is 20 and has a great job. I have had many jobs that have given me the knowledge
          to be a good worker and good co-worker. I have worked with every kind of human being you can think of and have gotten along with them all. I got my associates in Science 
          of Software Development from Ivy Tech Community College and I am currently enrolled at Arizona State University online and getting my Bachelor's degree in Full-Stack Web
          Development. I am a huge Los Angeles Dodgers, San Francisco 49ers, and Los Angeles Lakers fan. I like spending my time with my family which includes my dogs and tortoise, 
          golfing, and coding. It has taken all of my attention. 
        </p>
    </section>
    <br>
    <section class="container">
      <h2 class="text-center"><i class="bi bi-person-workspace h1"> EXPERIENCE</i></h2>
        <h4 class="text-center">The Global Career Accelerator | HTML & CSS & JavaScript Trainee | Remote 	</h4><br>
        <h5 class="text-center">January 2025 - May 2025 </h5>
          <ul>
            <li>Used HTML, CSS, Bootstrap, and JavaScript to create dynamic web applications, games, and other interactive, fully functioning web experiences</li>
            <li>Improved, redesigned, and added features to existing coding projects</li>
            <li>Read and utilized developer documentation</li>
            <li>Experimented with UX research and prototyping digital products</li>
            <li>Troubleshot and debugged code written by me and others</li>
            <li>Integrated third-party application programming interfaces (APIs) in a web application</li>
            <li>Collaborated with a global team to complete technical tasks</li>
          </ul>
        <h4 class="text-center">Little Debbie | Route Leaser | Greenfield, IN</h4><br>
        <h5 class="text-center">February 2021 - Present</h5>
          <ul>
            <li>Make orders on what is needed to fill stores and keep inventory high</li>
            <li>Keep warehouse organized and clean, ready for next shipment</li>
            <li>Collaborating with store managers and heads of departments to get more space and get checked in</li>
            <li>Handle customers questions and concerns while stocking the product</li>
            <li>Make the schedule and order delivery times</li>
            <li>Loaded and organized the truck daily for optimal performance</li>
          </ul>

        <h4 class="text-center">Mastin & Cain | Certified Forklift Driver | Greenwood, IN</h4>                                    		         
        <h5 class="text-center">June 2019 – February 2021</h5>
          <ul>
            <li>Ran a clamp truck that grabbed big stacks of insulation</li>
            <li>Organized each load going out for efficiency</li>
            <li>Traveled and shut down warehouses by myself</li>
            <li>Practiced safe driving with 6-8 other co-workers at a time</li>
          </ul>

        <h4 class="text-center">Knauf Insulation | Process Associate | Shelbyville, IN</h4>                              			     
        <h5 class="text-center">April 2016 – November 2017</h5>
          <ul>
            <li>In charge of the K & S roll-up, learned the computer quickly</li>
            <li>Had 5 people under me at a time</li>
            <li>Also did all the production jobs there</li>
            <li>In charge of labeling all the bags going out when I left</li>
          </ul>

        <h4 class="text-center">United States Post Office | City Carrier Assistant | Greenfield, IN</h4>                                             
        <h5 class="text-center">February 2013 – October 2015 and again November 2017 – June 2019</h5>
          <ul>
            <li>Sorted the mail/packages into correct order</li>
            <li>I always carried more than 1 route</li>
            <li>Got along well with everybody</li>
            <li>Organized my LLV to be more efficient</li>
            <li>Always a team player and helped out</li>
          </ul>

        <h4 class="text-center">Welch and Wilson Properties | Warehouse Supervisor | Indianapolis, IN</h4>		                  
        <h5 class="text-center">October 2004 – January 2013 and again October 2015 – April 2016</h5>
          <ul>
            <li>Ran the logistics of the day-to-day operations of the warehouse</li>
            <li>Filled out orders for employees to find product more efficiently</li>
            <li>Made detailed maps of the warehouse daily</li>
            <li>Found locations for new product to be brought into the warehouse</li>
            <li>Handled communication with drivers and the client we were contracted with</li>
            <li>Answered phones and printed paperwork</li>
          </ul>
    </section>

    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

   <section id="footer-section">
      <footer text-align="center">
        &copy ChrisScholl WebDesign 2025&trade;
        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
        <a href="https://x.com" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com" class="fa fa-instagram"></a>
        <a
          href="https://www.linkedin.com/in/chris-scholl-webdesigner"
          class="fa fa-linkedin"
        ></a>
      </footer>
    </section>
</body>
</html>